/* Estilos para o cabeçalho */
* {
    background-color: #A3DFC3;
}
header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
  }
  
  button {
    background-color: var(--bs-white);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
    color: var(--bs-dark);
  }


  /* Estilos para o conteúdo principal */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  p {
    font-size: 24px;
  }
  
  .box-item {
    margin-bottom: 20px;
    
  }
  
  input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid green;
    border-radius: 0;
  }
  
.button-house {
    display: flex;
    align-items: center;
    color: var(--bg-dark)
}

.icon-house {
    font-size: 20px;
    margin-right: 5px;
}

.valor {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-dark)
}

.valor input {
  border: 0;
  width: 80px;
}

  /* Estilos para o design responsivo no iPhone 12 */
  @media screen and (max-width: 390px) {

    header {
        display: flex;
        justify-content: space-around;
        padding: 5px;
      }

    button {
      padding: 8px 6px;
      font-size: 10px;
    }

    .button-house {
      flex-basis: 100%;
      margin: 3px;
      margin-right: 5px;
    }

    a {
        max-width: 14px;
    }

    p {
      font-size: 20px;
    }

    input {
      padding: 2px;
    }

    .valor input {
      border: 0;
      width: 40px;
    }

    .form-btn {
      padding: 8px 16px;
      font-size: 14px;
    }
  }